Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Pillow==2.4.0
PyYAML==3.10
Werkzeug==0.9.4
beautifulsoup4==4.4.0
cssselect==0.9.1
gunicorn==18.0
html5lib==0.999
itsdangerous==0.23
lxml==3.3.0
newspaper==0.0.9.8
nltk==3.0.4
requests==2.2.1
six==1.5.2
